DATABASE_URL=postgresql://user:password@localhost:5432/dbname
SECRET_KEY=your-secret-key-here
BASE_DOMAIN=yourapp.com
BACKEND_CORS_ORIGINS=*
SUPERADMIN_EMAIL=superadmin@yourapp.com
SUPERADMIN_PASSWORD=QD0LA6WbHjPS-cOS
